.markSheet_card{
    width: 100%;
    padding: 15px;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line_spacing{
    line-height: 48px !important;
    font-size: 13px !important;
}
.icon{
    margin-left: 10px;
}
.main_div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_grid{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divider{
    width: 96%;
}
.text_line_height{
    line-height: 40px !important;
}
.center_text_line_height{
    line-height: 37px !important;
}
.card_header_left{
    font-size: 16px !important;
    font-weight: 600;
}
.card_header_right{
    font-size: 13px !important;
}

.bottom_divider{
    width: 100%;
}
.button{
  float: right;
  top: -8px;
  right: 20px;
}

/* diploma css */
.diploma_header{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.back_icon{
    height: 50% !important;
    color: #1093FF;

}
.back_text{
    color: #1093FF;
}
.semester_title{
    margin-top: -10px !important;
    margin-bottom: -11px !important;
}
.semester_title1{
    margin-left: 5px !important;
    margin-top: -10px !important;
    margin-bottom: -11px !important;
    text-transform: capitalize;
}
.semester_title_div{
    display: flex;
    flex-direction: row;
}

.viewDetails_title{
    text-transform: capitalize;
}

.grid_item1_div {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 19px;
}
.grid_item3_div {
    display: flex;
    grid-gap: 60px;
}
.collegeName_div {
    display: flex;
    grid-gap: 60px;
}
.batch_div {
    display: flex;
    grid-gap: 102px;
}

