.main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textField_align{
    /* width: 450px; */
    bottom: 40px;
    margin-left: 30px;

}

.icon_div{
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    
}

.icon_div:hover {
    display: block;
    margin-top: -13px;

}

.grid{
    display: flex;
    margin-left: 30px;
}
.grid:hover + .icon_div {
   display: block;
   margin-top: -13px;

}
/* ppga cal notes */
.ppgaTextField_align {
    bottom: 10px;

}
.button_div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* margin-right: 7px;
    margin-bottom: 12px; */
}
.footer_text{
    color: #1093FF;
    cursor: pointer;
}
/* .MuiBox-root {
    padding : 0px 0px !important
} */


