/* GRAPH-1 */

.graph1_title {
  margin-top: 10px;
}
.graph1_label_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.graph1_label1_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85px;
}
.graph1_label1 {
  height: 15px;
  width: 15px;
  background-color: #f08080;
  border-radius: 50%;
}
.graph1_label1_text {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-right: 23px;
}
.graph1_label2_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85px;
  margin-left: 10px;
}
.graph1_label2 {
  height: 15px;
  width: 15px;
  background-color: #6495ed;
  border-radius: 50%;
}
.graph1_label2_text {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-right: 13px;
}

/* GRAPH-2 */
.graph2_title {
  margin-top: 25px;
}
.graph2_label_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.graph2_label1_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85px;
}
.graph2_label1 {
  height: 15px;
  width: 15px;
  background-color: #f08080;
  border-radius: 50%;
}
.graph2_label1_text {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-right: 23px;
}
.graph2_label2_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85px;
  margin-left: 10px;
}
.graph2_label2 {
  height: 15px;
  width: 15px;
  background-color: #6495ed;
  border-radius: 50%;
}
.graph2_label2_text {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-right: 13px;
}
.textField_label {
  font-weight: 700;
  font-style: normal;
  bottom: 20px;
  white-space: nowrap;
}
.accordion_div {
  margin: 10px;
}
