.careerLeftContainer {
    padding-left: 22px !important;
    padding-top: 20px !important;
    border-right: 1px solid #D2D2D2;
  }
  .careerleftButton {
    display: flex !important;
    flex-direction: row !important;
    margin-right: 5% !important;
  }
  .careergoalButtonstyle{
      width: 100px !important;
  }
  .ttilebuttonstyle {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .title {
     font-size: 20px !important;
     font-weight: 500 !important;
  }
  .leftdetails{
    height: 93vh !important;
    max-height: 93vh !important;
    overflow-y: scroll !important;
  }
  .careericongrid {
      display: flex !important;
      align-items: flex-end !important;
  }
  .careerrightcontent {
    margin-top: 10px !important;
  }
  .careerstepper{
    display: flex !important;
    flex-direction: row !important;
  }
  .goaldetails {
    height: 86vh !important;
    max-height: 86vh !important;
    overflow-y: scroll !important;
  }
  .titlediv {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .select {
    background:#3eaff0 !important;
    color: white !important;
}
.not-select {
  border: 1px solid #3eaff0 !important;
  color: #3eaff0 !important;
  
}