.root__login{
    background: linear-gradient(to left,#b17686, #535bb7);  
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 10vh;
}
.login__container{
    display: flex;
    width: 100%;    
    background: white;
    justify-content: center;
    box-shadow: 2px 0px 10px 6px #9065b7;
    overflow: hidden;
    border-radius: 20px;
}
.login__left__container{
    width: 60%;
    /* background-image: url('../Asset/Images/leftLoginContainer.png'); */
}
.login__left__container > img {
    width: 100%;
}
.login__right__container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__body,.login__header,.login__footer{
    padding: 0px 15px;
    text-align: center;
    
}
.login__text__box{
    margin: 15px 0;
}
.login__button{
    margin-bottom: 20px;
}
.login__footer__label{
    /* padding: 10px; */
}
