.clsid_style {
    width: 40% !important;
}
.field_style {
    width: 85% !important;
}
.degree_style {
    width: 60% !important;
}
.sem_style {
    width: 50% !important;
}
.work_style {
    width: 50% !important;
}
.package_style {
    width: 75% !important;
}