.stepper_vertical {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
}
.stepper_vertical_center_content{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
.stepper_circle_green {
    width: 20px !important;
    height: 20px !important;
    border: 2px solid green !important;
    border-radius: 50% !important;
}
.stepper_circle_red {
    width: 20px !important;
    height: 20px !important;
    border: 2px solid rgb(233, 16, 16) !important;
    border-radius: 50% !important;
}
.stepper_line_green {
    width: 1px !important;
    height: 50px !important;
    border: 1px solid green !important;
    margin: 10px; 
}
.stepper_line_red {
    width: 1px !important;
    height: 50px !important;
    border: 1px solid red !important;
    margin: 10px; 
}
